/*
	@theme SASS Placeholder
	@placeholder sass
*/

@base {
	color: #000;
	background-color: #fff;
}

sass {
	spell-check: disabled;
}

sass.selector, variable.definition.style.sass > property-name {
	color: #3a77bf;
}

sass > property-name, mixin.sass > property-name {
	color: #d4430d;
}

sass > property-assigner, mixin.sass > property-assigner {
	color: #3a77bf;
}

sass property-value, mixin.sass property-value, variable.style.sass property-name {
	color: #43a202;
}

sass property-value punctuation.separator {
  color: #000000;
}

sass.at-rule string {
	color: #474747;
}

keyword.important.sass {
	font-weight: bold;
	color: #6700b9;
	width: 12px;
}

mixin.definition.sass {
	color: #3a77bf;
}

mixin.sass, mixin.sass > punctuation {
	color: #d4430d;
}

at-rule.mixin.definition mixin.name, at-rule.mixin.include mixin.name {
  color: #3a77bf;
}

file.sass {
	color: #43a202;
}